Repository Alx-l/blueboard: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix --config build/tslint.json --project tsconfig.json --format stylish, prettier --config .prettierrc.json --write, stylelint "src/**/*.scss" --config build/.stylelintrc.json --fix

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": [
    "tslint --fix --config build/tslint.json --project tsconfig.json --format stylish",
    "git add",
    "prettier --config .prettierrc.json --write",
    "git add"
  ],
  "src/**/*.scss": [
    "stylelint \"src/**/*.scss\" --config build/.stylelintrc.json --fix",
    "git add"
  ]
}

chore: update readme
  README.md
Due: none

chore: improve deployment - update poi config - update readme
  README.md
  build/poi.config.js
  package.json
Due: none

refactor: clean up code
  index.ejs
  src/commons/atoms/icon/icon.tsx
  src/commons/atoms/inputs/errorTransition.scss
  src/commons/atoms/inputs/textInput/textInput.scss
  src/commons/atoms/modal/modal.scss
  src/commons/atoms/modal/modal.tsx
  src/commons/atoms/scrollReveal/scrollReveal.tsx
  src/commons/atoms/scrollReveal/store.ts
  src/styles/abstracts/_keyframes.scss
  src/styles/abstracts/_mixins.scss
  src/styles/abstracts/_typography.scss
  src/styles/abstracts/index.scss
  src/styles/base/_root.scss
  src/styles/base/_typography.scss
  src/styles/base/index.scss
  src/views/landingPage/formSection/formSection.tsx
Due: tslint --fix --config build/tslint.json --project tsconfig.json --format stylish, prettier --config .prettierrc.json --write, stylelint "src/**/*.scss" --config build/.stylelintrc.json --fix

chore: update demo url in readme
  README.md
Due: none

refactor: clean up code
  build/poi.config.js
  src/commons/atoms/inputs/errorTransition.scss
  src/commons/atoms/inputs/errorTransition.tsx
  src/commons/atoms/modal/modal.scss
  src/commons/atoms/modal/modal.tsx
  src/commons/atoms/scrollReveal/scrollReveal.scss
  src/commons/atoms/scrollReveal/scrollReveal.tsx
  src/commons/atoms/scrollReveal/store.ts
Due: tslint --fix --config build/tslint.json --project tsconfig.json --format stylish, prettier --config .prettierrc.json --write, stylelint "src/**/*.scss" --config build/.stylelintrc.json --fix

chore: update deployment process
  now.json
  package-lock.json
  package.json
Due: none

feat: netlify test
  src/views/landingPage/secondSection/secondSection.tsx
Due: tslint --fix --config build/tslint.json --project tsconfig.json --format stylish, prettier --config .prettierrc.json --write

chore: Revert "feat: netlify test"
  src/views/landingPage/secondSection/secondSection.tsx
Due: tslint --fix --config build/tslint.json --project tsconfig.json --format stylish, prettier --config .prettierrc.json --write

feat: add netlify related config
  netlify.toml
Due: none

chore: remove "now" related things
  README.md
  package.json
Due: none

chore: remove "now" related things
  now.json
Due: none
